<!DOCTYPE html>
<head>
  <title>Travel App</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <section id="hero-banner">
      <h1>READY <em><strong>ADVENTURE</strong></em> GO</h1>
      <!-- <h1><em><strong>ADVENTURE</strong></em></h1> -->
      <div class="call-to-action">
        <image class="arrow-icon" src="../media/static/double_arrow.png" alt="arrow"> 
        <h2>Start exploring</h2> 
        <image class="arrow-icon" src="../media/static/double_arrow.png" alt="arrow"></image>
      </div>
    </section>
    <section id="form-section">
      <form class="shadow">
        <label for="destination">Destination</label>
        <input id="destination" type="text">
        <label for="date">Date</label>
        <input id="date" type="date">
        <button>Search</button>
      </form>
    </section>
    <section id="travel-log"></section>
  </main>
</body>
