@use 'hero';
@use 'formSection';

body {
  margin: 0;
  //background-color: #fff;
  font-family: "Roboto", sans-serif;
  //font-family: "Trebuchet MS";
  //font-family: "Courier New";
}

.shadow{
  box-shadow: 3px 4px 30px 5px rgba(138,133,138,1);
}

