//TODO
//Hero banner inspiration
// https://www.justinmind.com/blog/inspiring-hero-image-websites/
// i like the blue green gradient with image one
// how does asset management work with images

//SASS has a good way to do different screen sizes learn it and use it

//rgba(66, 135, 245, 0.5),
//rgba(66, 245, 93, 0.5)

$delay-Time: 4s;

#hero-banner {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(241, 42, 7, 0.6),
      rgba(218, 245, 66, 0.5)
    ),
    url(../media/static/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  transform: scaleX(-1);

  h1 {
    transform: scaleX(-1);
    font-size: 16em;
    opacity: 1;
    // margin: 0 0 10vh 0;
    font-weight: 300;
    //background-color: royalblue;
    animation-name: fadeIn;
    animation-duration: $delay-Time;
    padding: 0;
    margin: 0;
    line-height: 1em;
    text-align: left;
    width: 90vw;
    // border: 2px blue solid;
  }

  div {
    display: flex;
    justify-content: space-around;
    width: 32vw;
    // border: rgb(15, 15, 15) 2px solid;
    align-items: center;
    // margin: 0 0 5vh 0;
    transform: scaleX(-1);

    animation-name: flash;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
    margin: 0;
    // border: 2px blue solid;

    img {
      height: 3em;
      width: auto;
    }

    h2 {
      font-size: 3em;
      font-weight: 300;
      margin: 0;
    }
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
