//TODO
//Hero banner inspiration
// https://www.justinmind.com/blog/inspiring-hero-image-websites/
// i like the blue green gradient with image one
// how does asset management work with images

//SASS has a good way to do different screen sizes learn it and use it

//rgba(66, 135, 245, 0.5),
//rgba(66, 245, 93, 0.5)

$delay-Time: 4s;

#hero-banner {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(241, 42, 7, 0.6),
      rgba(218, 245, 66, 0.5)
    ),
    url(../media/static/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  h1 {
    font-size: 10em;
    opacity: 1;
    margin: 0 0 10vh 0;
    //background-color: royalblue;
    animation-name: fadeIn;
    animation-duration: $delay-Time;
  }

  div {
    display: flex;
    justify-content: space-around;
    width: 32vw;
    // border: rgb(15, 15, 15) 2px solid;
    align-items: center;

    animation-name: flash;
    animation-duration: 3s;
    animation-delay: $delay-Time;
    animation-iteration-count: infinite;
    opacity: 0;

    img {
      height: 2.5em;
      width: auto;
    }

    h2 {
      font-size: 3.5em;
    }
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
