//TODO
//Hero banner inspiration
// https://www.justinmind.com/blog/inspiring-hero-image-websites/
// i like the blue green gradient with image one
// how does asset management work with images
@use 'variables';

$delay-Time: 4s;

#hero-banner {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(241, 42, 7, 0.6),
      rgba(218, 245, 66, 0.5)
    ),
    url(../media/static/hero.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #fff;
  transform: scaleX(-1);

  h1 {
    font-size: calc(100vw/7);
    line-height: 1em;
    opacity: 1;
    font-weight: 300;
    animation-name: fadeIn;
    animation-duration: $delay-Time;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 90vw;
    transform: scaleX(-1);
    word-wrap: break-word;

    @media (min-width: variables.$large-laptop) {
      font-size: 16em;
      line-height: 1em;
      justify-content: center;
    }

    @media (min-width: variables.$superlarge-screen) {
      max-width: 1824px;
    }
  }

  div {
    transform: scaleX(-1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation-name: flash;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
    margin: 20vh 0 0 0;

    width: 300px;

    @media (min-width: variables.$tablet) {
      width: 500px;
    }

    @media (min-width: variables.$small-laptop) {
      margin: 0;
    }



    img {
      height: 1em;
      width: auto;
      margin: 0 5px;

      @media (min-width: variables.$tablet) {
        font-size: 1.6em;
      }
    }

    h2 {
      font-size: 2em;
      font-weight: 300;
      margin: 0;

      @media (min-width: variables.$tablet) {
        font-size: 2.5em;
      }

      @media (min-width: variables.$medium-laptop) {
        font-size: 3em;
      }
    }
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
